.container {
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container {
  scrollbar-width: none;
}

.title {
  display: flex;
  grid-gap: 1.8em;
  gap: 1.8em;
  text-transform: capitalize;
  font-size: 0.6em;
  padding: 0 3em;
  min-width: max-content;
  align-items: center;
}
.title span {
  transition: all 0.2s ease 0s;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  color: #919191;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  padding: 16px 0;
  cursor: pointer;
}

.title .active {
  font-size: 20px;
  color: #484848;
}
